*{
  margin: 0px;
  padding: 0px;
}

.header {
    background-image: url('../img/ola.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding:  40px;
  }
  
  .logo {
    margin-right: auto;
    margin-left: 90px;
  }
  
  .logo img {
    height: 60px;
    width: auto;
  }

  /* hacer un hover de aumento de imagen del 35% con una transicion suave */
  .logo img:hover {
    transform: scale(1.35);
    transition: 0.5s;
    cursor: pointer;
  }

 .nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    
  }

  .nav-links li {
    display: inline-block;
    line-height: 80px;
    margin-top: -60px;
    text-decoration: none;
  }

  .nav-links :hover {   
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-size: 19px;
    font-weight: 550;
  }
  /* centrar  */
  
