<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../css/glosario.css">

    <title>Estudiante Programación WEB</title>
</head>
<body>
    <div class="header">
<!-- importar navar de ./component/navbar.html -->
    <iframe src="./navbar.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
       
    </div>

	
    <div class="cuerpo">
<ol>
    <h1>Glosario de términos HTML</h1>
        <br>
        <li><strong>HTML</strong>: HyperText Markup Language. Es el lenguaje de marcado utilizado para crear páginas web.</li>
        <br>
        <li><strong>Etiqueta</strong>: Un elemento de HTML que se utiliza para estructurar y dar formato al contenido de una
            página web.</li>
        <br>
        <li><strong>Atributo</strong>: Un valor adicional que se puede agregar a una etiqueta HTML para modificar su
            comportamiento o apariencia.</li>
        <br>
        <li><strong>Enlace</strong>: Un elemento de HTML que permite a los usuarios navegar entre diferentes páginas web o
            secciones de una misma página.</li>
        <br>
        <li><strong>Imagen</strong>: Un elemento de HTML que se utiliza para mostrar gráficos o fotografías en una página
            web.</li>
        <br>
        <li><strong>Listas</strong>: Un conjunto de elementos relacionados que se presentan en una página web en forma de
            una lista.</li>
        <br>
        <li><strong>Encabezado</strong>: Un elemento de HTML que se utiliza para marcar una sección de contenido como un
            encabezado.</li>
        <br>
        <li><strong>Párrafo</strong>: Un elemento de HTML que se utiliza para presentar texto en una página web.
            <br><br></li>
        <li><strong>Tabla</strong>: Un elemento de HTML que se utiliza para presentar información en forma de una tabla.</li>
        <br>
        <li><strong>Formulario</strong>: Un conjunto de elementos de HTML que se utilizan para recopilar información de los
            usuarios en una página web.</li>
</ol>

    </div>   
      

    <footer>
        <iframe src="./footer.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </footer>

    
</body>
</html>
