<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../css/parrafos.css">

    <title>Estudiante Programación WEB</title>
</head>
<body>
    <div class="header">
<!-- importar navar de ./component/navbar.html -->
    <iframe src="../component/navbar.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        <div id="header"></div>
    </div>
	<h1 class="titulo">Párrafos</h1>

	<!-- Primer párrafo centrado -->
<div class="container-fluid">
	<h2 class="subtitulo">Párrafo 1</h2>
	
	<p class="parrafo centro">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam inventore accusantium odio molestias necessitatibus mollitia numquam blanditiis, possimus placeat quo nulla? Corrupti, saepe. Nemo voluptatem reprehenderit, unde cupiditate nisi inventore !
	</p>

	<!-- Segundo párrafo alineado a la derecha -->
	<h2 class="subtitulo2">Párrafo 2</h2>
	
	<p class="parrafo derecha">
		Fusce in mauris tortor. Aenean eu nisl eget mauris faucibus sollicitudin eget sed dui. Nam posuere sapien vel enim dictum, in ultricies arcu efficitur. Praesent a luctus odio. In gravida turpis quis nisi molestie, quis dictum enim eleifend Fusce in mauris tortor. Aenean eu nisl eget mauris faucibus sollicitudin eget sed dui. Nam posuere sapien vel enim dictum, in ultricies arcu efficitur. Praesent a luctus odio. In gravida turpis quis nisi molestie, quis dictum enim eleifend.
	</p>

	<!-- Tercer párrafo justificado -->
	<h2 class="subtitulo3">Párrafo 3</h2>

	<p class="parrafo justificado">
		Nulla facilisi. Proin eget ultrices sapien. Sed bibendum eleifend augue vel elementum. Integer sed libero auctor, dictum nibh vel, dignissim orci. Nullam quis ante felis. Donec quis ipsum et quam finibus auctor in vel sapien Fusce in mauris tortor. Aenean eu nisl eget mauris faucibus sollicitudin eget sed dui. Nam posuere sapien vel enim dictum, in ultricies arcu efficitur. Praesent a luctus odio. In gravida turpis quis nisi molestie, quis dictum enim eleifend. Nulla facilisi. Proin eget ultrices sapien. Sed bibendum eleifend augue vel elementum. Integer sed libero auctor, dictum nibh vel, dignissim orci. Nullam quis ante felis. 
	</p>

	<!-- Cuarto párrafo alineado a la izquierda -->
	<h2 class="subtitulo4">Párrafo 4</h2>
	
	<p class="parrafo izquierda">
		Mauris at enim vel elit malesuada volutpat. Quisque vitae tortor non nulla euismod bibendum. Nam id augue sed justo ultricies vulputate. Aenean a tincidunt quam, vel mollis nisi. Praesent in nisi in ipsum malesuada luctus quis eget dolor.
		Mauris at enim vel elit malesuada volutpat. Quisque vitae tortor non nulla euismod bibendum. Nam id augue sed justo ultricies vulputate. Aenean a tincidunt quam, vel mollis nisi. Praesent in nisi in ipsum malesuada luctus quis eget dolor.
	</p>
</div>
    

    

    <footer>
        <iframe src="./footer.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </footer>

    
</body>
</html>
















