<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../css/textoformateado.css">

    <title>Estudiante Programación WEB</title>
</head>
<body>
    <div class="header">
<!-- importar navar de ./component/navbar.html -->
    <iframe src="./navbar.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>        
    </div>
	
<div class="cuerpo">
<ol>
  <h1><li>Título Principal</h1></li>
  <h2>Subtítulo</h2>
  <h3>Título mas pequeño</h3>
  <h4>Título aún mas pequeño</h4>
  <h5>Título mas pequeño aún que el anterior</h5>
  <h6>Título mas pequeño de todos</h6>
  <p><strong>La principal razón por la que Jared Bush escogió Colombia como escenario para la realización de la película Encanto, fue que se enamoró de su gente y su cultura durante el proceso investigativo.</strong></p>
  <div class="titulo2"><h1>2. Noticias principales</h1></div>
  
</ol>
  <p>"Escogimos a Colombia por muchos motivos, entre ellos porque nos enamoramos del pueblo colombiano; a todas partes que íbamos nos acogían como si fuéramos su familia", señaló el director. En el proceso de producción, que duró cinco años, tres de ellos en la investigación, Jared y su equipo viajaron al país por recomendación de amigos colombianos, que trabajaron en la realización de Zootopia. Una vez en Colombia convivieron con familias de diferentes regiones del país, "no como turistas sino como es en realidad", experiencia en la que conocieron la música de diversas zonas y el realismo mágico de Gabriel García Márquez. "Colombia tiene biodiversidad increíble", expresó. Añadió que buscaban describir lo más fiel posible a la familia colombiana. "Queríamos que se sintiera auténtico y la historia igual, que fuera emotivamente correcta y que, al verla, los colombianos sintieran que así son", detalló el también guionista y productor.</p>
  <p>Etiquetas para dar formato al texto:</p>
  <ul>
    <p>Este texto lleva <b>Negrilla</b></p>
      
    <p>Texto <strong>Destacado</strong></p>

    <p>Texto <em>Itálica</em></p>
    
    <p>Texto <u style="color:cyan;">Subrayado</u></p>    
    <p>Texto <mark>Resaltado</mark></p>
    <p>Ejemplo de Superíndice: (8-4+5*6)<sup>2</sup></p>
    <p>Ejemplo de Subíndice: H<sub>2</sub>O</p>
    </p>

	<p></p>

  </ul>
  <p><b>Ejercicio N. 6:</b> Definir dos títulos y tres párrafos y aplicar formatos de texto</p> 
  <p class="ulti"><b><em>Este texto tiene Negrilla y también tiene letra itálica</em></b>.</p>

</div>
        

    <footer>
        <iframe src="./footer.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </footer>
    
</body>
</html>
