<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar Uno</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">           
            <img src="../img/Logo.png" alt="Logo de la U">           
        </div>
        <div>
          <!-- <img src="../img/Ing.png" alt="Logo de Ing" class="logo2"> -->
        </div>
        <nav class="navegacion">
           <ul class="nav-links">
                <li><a href="../index.html" target="_blank">Ejercicio 1 y 2</a></li>
                <li><a href="./ejercicio3.html" target="_blank">Ejercicio3</a></li>
                <li><a href="./ejercicio4.html" target="_blank">Ejercicio4</a></li>
                <li><a href="./ejercicio5.html" target="_blank">Ejercicio5</a></li>
                <li><a href="./ejercicio6.html" target="_blank">Ejercicio6</a></li>
           </ul>            
        </nav>
        <div class="logoing">
          <img src="../img/Ing.png" alt="Logo de Ing" class="logo3">
        </div>
    </header>
</body>
</html>
